.content .form-add-new-car {
    width: 1010px;
    height: 350px;
    background: white;
    margin-top: 32px;
    margin-left: 25px;
}

.content .form-add-new-car .content-form {
    padding-top: 16px;
    padding-left: 25px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.content .form-add-new-car .content-form label {
    width: 147px;
}

.content .form-add-new-car .content-form input {
    width: 339px;
    height:auto;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.content .form-add-new-car .content-form .content-box {
    margin-left: 4px;
}

.content .form-add-new-car .content-h1 h1 {
    display: inline-flex;
    margin-left: 25px;
    margin-top: 16px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.content .form-add-new-car .content-h1 h1:first-child {
    width: 147px;
}

.content .form-add-new-car .content-h1 h1:last-child {
    margin-left: 8px;
}

.content .button-form {
    display: inline-flex;
    margin-left: 9px;
}

.content .button-form a img {
    margin-left: 16px;
    margin-top: 20px;
}