.content .list-car {
  margin-top: 24px;
  position: absolute;
  width: 65px;
  height: 24px;
  margin-left: 25px;
}

.content .list-car > img {
  width: 4px;
  height: 24px;
}

.content .list-car > h1 {
  float: right;
  font-weight: 700;
  margin-left: 8px;
}

.content .title-button-car {
  display: inline-flex;
}

.content .title-button-car > h1 {
  margin-right: 800px;
}

.content .title-button-car > a img {
  margin-top: 74px;
}

.content .button-category {
  margin-top: 24px;
  margin-left: 8px;
  display: inline-flex;
}

.content .button-category img {
  margin-left: 16px;
}

.content .cars-table {
  display: flex;
  flex-wrap: wrap;
}

.content .cars-card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 482px;
  margin-left: 25px;
  margin-top: 24px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.content .cars-card .card-img-top {
  width: 270px;
  height: 160px;
  margin: auto;
  margin-top: 55px;
}

.content .cars-card .card-body {
  padding: 24px;
}

.content .cars-card .card-body h1 {
    font-weight: 400;
}

.content .cars-card .card-body .bold-h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.content .cars-card .card-body-text {
  display: inline-flex;
  width: 303px;
  height: 20px;
  margin-top: 16px;
}

.content .cars-card .card-body-text img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.content .cars-card .button-card {
  display: inline-flex;
  margin-left: 8px;
  margin-top: 24px;
}

.content .cars-card .button-card img {
  width: 120px;
}

.content .cars-card .button-card img:last-child {
  margin-left: 16px;
}
