.content {
    position: absolute;
    overflow: auto;
    left: 290px;
    top: 70px;
    /* width: 1280px; */
    height: 100%;
    background: #F4F5F7;  
    font-size: 14px;
    line-height: 20px; 
}

.content .breadcrumb {
    position: absolute;
    width: 300px;
    height: 18px;
    left: 25px;
    top: 32px;
}

.content .breadcrumb > h1 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

.content .breadcrumb > p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}

.content .breadcrumb > img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    margin-right: 4px;
}

.content .title-h1 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-left: 25px;
    margin-top:74px;
}

.content .list-order {
    margin-top: 24px;
    position: absolute;
    width: 79px;
    height: 24px;
    margin-left: 25px;
}

.content .list-order > img {
    width: 4px;
    height: 24px;
}

.content .list-order > h1 {
    float: right;
    font-weight: 700;
    margin-left: 8px;
}

.content .list-table table {
    margin-left: 25px;
    margin-top: 72px;
    width: 100%;
    table-layout: fixed;
    background-color: white;
    border: 1px solid none;
    border-radius: 2px;
}

.content .list-table table thead {
    background-color: rgba(207, 212, 237, 1);
    font-weight: 700;
}

.content .list-table table thead th:first-child {
    width: 40px;
}

.content .list-table table thead th > img {
    float: right;
}

.content .table-nav {
    display: flex;
    flex-direction: row;
    width: 1010px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}

.content .table-nav .limit-nav{
    margin-left: 25px;
}

.content .table-nav .limit-nav p {
    font-size: 12px;
    line-height: 18px;
}

.content .table-nav .jump-nav {
    margin-left: 24px;
} 

.content .table-nav .jump-nav p {
    font-size: 12px;
    line-height: 18px;
}

.content .table-nav .go-nav {
    width: 43px;
    height: 36px;
    margin-top: 34px;
    background: #0D28A6;
    border-radius: 0px 2px 2px 0px;
}

.content .table-nav .go-nav > h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 8px 8px;
}

.content .table-nav .page-number {
    margin-top: 33px;
    margin-left: 550px;
}